body {
    background-color: white;
    font-family: sans-serif, Helvetica;
}
.top-section{
  min-height: 160px;
  padding-left: 230px;
}
.top-section h4{
  padding-top: 50px;
  text-align: center;
}

.navigation li{
    min-height: 15px;
    text-transform: uppercase;
    display: inline;
    padding-left: 215px;
    font-size: 18px;
    color: black;
}
a:hover {
    background: #fbd50f;
}
.large-image{
  min-height: 240px;
  background-image: url("../images/large-image.jpg");
}

.kitchen-banner{
    text-align: center;
    text-transform: uppercase;
    min-height: 25px;
    background-color: #f37321;
    color: white;
}
.kitchen-banner h1{
  padding-top: 1px;
}

.badges{
  min-height: 425px;
  text-align: center;
}

.mac-text{
  text-align: center;
  text-transform: uppercase;
  min-height: 350px;
  color: white;
  background-image:url("../images/mac-text.jpg");
  padding-top: 75px;
  text-shadow: 2px 2px #000000;
  background-repeat: no-repeat;
  background-size: cover;
}
.mac-text h2{
  text-align: center;
  color: white;
  text-shadow: 2px 2px #000000;
  font-family: "Brush Script MT", cursive;
  font-size: 60px;
  text-transform: lowercase;

}

.cheese-banner{
  text-align: center;
  text-transform: uppercase;
  min-height: 25px;
  background-color: #fbd50f;
  color: white;
}
.cheese-banner h1{
  padding-top: 1px;
}

.menu-features{
  min-height: 235px;
  text-align: center;
}
.btn-primary{
  border-color: #f37321;
  background-color: white;
  color: black;
  margin-left: 250px;
}
.btn-primary:hover{
  background-color: #fbd50f;
  border-color: #f37321;
}
.menu-features h1{
  padding-left: 250px;
  padding-top: 100px;
  color: #f37321;
  font-size: 32px;
}
.menu-features h2{
  padding-left: 250px;
  font-family: "Brush Script MT", cursive;
  font-size: 45px;
}
.menu-features p{
  padding-left: 250px;
}
.menu-features img{
  padding-right: 250px;
}

.menu-features-2{
  min-height: 235px;
  text-align: center;
}
.menu-features-2 h1{
    padding-right: 180px;
    padding-top: 80px;
    font-family: "Brush Script MT", cursive;
    font-size: 50px;
}
.menu-features-2 h2{
    padding-right: 180px;
}
.menu-features-2 p{
    padding-right: 180px;
}
.menu-features-2 img{
  padding-left: 235px;
}

.menu-features-3{
  min-height: 235px;
  text-align: center;
}
.menu-features-3 h1{
  padding-top: 65px;
  padding-left: 250px;
  color: #f37321;
}
.menu-features-3 h4{
  padding-left: 250px;
  color: #f37321;
}
.menu-features-3 h2{
  padding-left: 250px;
  color: #f37321;
  font-family: "Brush Script MT", cursive;
  font-size: 45px;
}
.menu-features-3 p{
  padding-left: 250px;
}
.menu-features-3 img{
  padding-right: 250px;
}

.location{
  text-align: center;
  text-transform: uppercase;
  color: white;
  min-height: 150px;
  background-color: black
}
.location h1{
  padding-top: 15px;
}

/*-------------ABOUT SECTION---------------*/
.say-cheese{
text-align: center;
}
.say-cheese h1{
  padding-right: 225px;
    font-family: "Brush Script MT", cursive;
    font-size: 65px;
}
.say-cheese h4{
  padding-right: 225px;
  padding-top: 10px;
  color: #f37321;

}
.say-cheese p{
  padding-right: 225px;
  padding-top: 15px;
}
.say-cheese img{
  padding-left: 100px;
}

/*--------------MENU SECTION--------------*/
.shareables{
  padding-left: 200px;
}
.shareables h1{
  color: #f37321;
  text-decoration: underline;
}
.mac{
  padding-left: 200px;
}
.mac h1{
  color: #f37321;
  text-decoration: underline;
}
.add-ins{
  padding-left: 200px;
}
.add-ins h3{
  color: #f37321;
  text-decoration: underline;
}
.sandwiches{
  padding-left: 200px;
}
.sandwiches h1{
  color: #f37321;
  text-decoration: underline;
}

.cheese-on-cheese-on-cheese{
  padding-left: 200px;
}
.cheese-on-cheese-on-cheese h1{
  color: #f37321;
  text-decoration: underline;
}
.sides{
  padding-left: 200px;
}
.sides h1{
  color: #f37321;
  text-decoration: underline;
}
.drinks{
  padding-left: 200px;
}
.drinks h1{
  color: #f37321;
  text-decoration: underline;
}
